body {
  background-color: #f8f9fa;
}

.card {
  margin-top: 20px;
}
.overlay-container {
  position: relative;
  z-index: 1;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
